Sep  5 11:43:28 192.168.0.231 mpe_sys: <116>  [   INFO] Port:6, Start Date:2017-09-05 11:43:28, Answer Date:, Call Direction:IP->Gsm, Source:1130331001, SourceIp:192.168.0.150, Destination :03131985374435, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:28 192.168.0.231 mpe_sys: <117>  [   INFO] Port:6, Start Date:2017-09-05 11:43:28, Answer Date:, Call Direction:IP->Gsm, Source:110110, SourceIp:192.168.0.150, Destination :03185987702637, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:28 192.168.0.231 mpe_sys: <118>  [   INFO] Port:6, Start Date:2017-09-05 11:43:28, Answer Date:, Call Direction:IP->Gsm, Source:110110, SourceIp:192.168.0.150, Destination :03131987897020, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:34 192.168.0.231 mpe_sys: <119>  [   INFO] Port:6, Start Date:2017-09-05 11:43:28, Answer Date:, Call Direction:IP->Gsm, Source:61978198259, SourceIp:192.168.0.150, Destination :03198988488203, Hangside:Calling, Reason:CANCELED, Duration:0(s), Rtp Send:59, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:36 192.168.0.231 mpe_sys: <120>  [   INFO] Port:0, Start Date:2017-09-05 11:42:32, Answer Date:2017-09-05 11:43:21, Call Direction:IP->Gsm, Source:0000000000, SourceIp:177.128.85.18, Destination :03198987253750, Hangside:Called, Reason:NORMAL HANG UP(16), Duration:16(s), Rtp Send:1616, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:41 192.168.0.231 mpe_sys: <121>  [   INFO] Port:2, Start Date:2017-09-05 11:43:20, Answer Date:2017-09-05 11:43:36, Call Direction:IP->Gsm, Source:5136009947, SourceIp:177.128.85.18, Destination :03111961219410, Hangside:Calling, Reason:NORMAL HANG UP, Duration:5(s), Rtp Send:268, Rtp recv:17, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:42 192.168.0.231 mpe_sys: <122>  [   INFO] Port:3, Start Date:2017-09-05 11:43:03, Answer Date:2017-09-05 11:43:37, Call Direction:IP->Gsm, Source:AC03LID, SourceIp:192.168.0.150, Destination :03147984675078, Hangside:Calling, Reason:NORMAL HANG UP, Duration:5(s), Rtp Send:749, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:47 192.168.0.231 mpe_sys: <123>  [   INFO] Port:4, Start Date:2017-09-05 11:43:12, Answer Date:, Call Direction:IP->Gsm, Source:INTELSERV, SourceIp:192.168.0.150, Destination :03171986255882, Hangside:Calling, Reason:CANCELED, Duration:0(s), Rtp Send:441, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:47 192.168.0.231 mpe_sys: <124>  [   INFO] Port:4, Start Date:2017-09-05 11:43:47, Answer Date:, Call Direction:IP->Gsm, Source:00124455, SourceIp:192.168.0.150, Destination :03181986900776, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:53 192.168.0.231 mpe_sys: <125>  [   INFO] Port:4, Start Date:2017-09-05 11:43:47, Answer Date:, Call Direction:IP->Gsm, Source:INTELSERV, SourceIp:192.168.0.150, Destination :03183988234618, Hangside:Calling, Reason:CANCELED, Duration:0(s), Rtp Send:90, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:57 192.168.0.231 mpe_sys: <126>  [   INFO] Port:5, Start Date:2017-09-05 11:43:05, Answer Date:, Call Direction:IP->Gsm, Source:1130331001, SourceIp:192.168.0.150, Destination :03171988835409, Hangside:Calling, Reason:CANCELED, Duration:0(s), Rtp Send:708, Rtp recv:2463, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:58 192.168.0.231 mpe_sys: <127>  [   INFO] Port:0, Start Date:2017-09-05 11:43:36, Answer Date:2017-09-05 11:43:54, Call Direction:IP->Gsm, Source:asterisk, SourceIp:192.168.0.150, Destination :03111957405126, Hangside:Calling, Reason:NORMAL HANG UP, Duration:4(s), Rtp Send:791, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:58 192.168.0.231 mpe_sys: <128>  [   INFO] Port:5, Start Date:2017-09-05 11:43:58, Answer Date:, Call Direction:IP->Gsm, Source:200209232024, SourceIp:192.168.0.150, Destination :03171988337340, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:58 192.168.0.231 mpe_sys: <129>  [   INFO] Port:5, Start Date:2017-09-05 11:43:58, Answer Date:, Call Direction:IP->Gsm, Source:00124455, SourceIp:192.168.0.150, Destination :03183988882249, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:43:58 192.168.0.231 mpe_sys: <130>  [   INFO] Port:5, Start Date:2017-09-05 11:43:58, Answer Date:, Call Direction:IP->Gsm, Source:2137887874, SourceIp:192.168.0.150, Destination :03117988071005, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:02 192.168.0.231 mpe_sys: <131>  [   INFO] Port:3, Start Date:2017-09-05 11:43:42, Answer Date:2017-09-05 11:44:00, Call Direction:IP->Gsm, Source:200209232024, SourceIp:177.128.85.18, Destination :03111967738883, Hangside:Calling, Reason:NORMAL HANG UP, Duration:2(s), Rtp Send:443, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:02 192.168.0.231 mpe_sys: <132>  [   INFO] Port:0, Start Date:2017-09-05 11:43:58, Answer Date:, Call Direction:IP->Gsm, Source:1042, SourceIp:192.168.0.150, Destination :03181987678883, Hangside:Calling, Reason:CANCELED, Duration:0(s), Rtp Send:74, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:02 192.168.0.231 mpe_sys: <133>  [   INFO] Port:3, Start Date:2017-09-05 11:44:02, Answer Date:, Call Direction:IP->Gsm, Source:200209232024, SourceIp:192.168.0.150, Destination :03111965300939, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:02 192.168.0.231 mpe_sys: <134>  [   INFO] Port:3, Start Date:2017-09-05 11:44:02, Answer Date:, Call Direction:IP->Gsm, Source:200209232024, SourceIp:192.168.0.150, Destination :03131987634279, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:02 192.168.0.231 mpe_sys: <135>  [   INFO] Port:3, Start Date:2017-09-05 11:44:02, Answer Date:, Call Direction:IP->Gsm, Source:AC05LID, SourceIp:192.168.0.150, Destination :03185986844643, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:03 192.168.0.231 mpe_sys: <136>  [   INFO] Port:0, Start Date:2017-09-05 11:44:03, Answer Date:, Call Direction:IP->Gsm, Source:200209232024, SourceIp:192.168.0.150, Destination :03116988360809, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:03 192.168.0.231 mpe_sys: <137>  [   INFO] Port:0, Start Date:2017-09-05 11:44:03, Answer Date:, Call Direction:IP->Gsm, Source:AC02RENAC, SourceIp:192.168.0.150, Destination :03198988471041, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:03 192.168.0.231 mpe_sys: <138>  [   INFO] Port:1, Start Date:2017-09-05 11:43:08, Answer Date:, Call Direction:IP->Gsm, Source:3020909003, SourceIp:192.168.0.150, Destination :03131988908710, Hangside:Gateway, Reason:NOT ANSWERED, Duration:0(s), Rtp Send:1249, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:08 192.168.0.231 mpe_sys: <139>  [   INFO] Port:4, Start Date:2017-09-05 11:43:53, Answer Date:2017-09-05 11:44:02, Call Direction:IP->Gsm, Source:6136281394, SourceIp:192.168.0.150, Destination :03185988914364, Hangside:Called, Reason:NORMAL HANG UP(16), Duration:7(s), Rtp Send:462, Rtp recv:0, Rtp loss Rate:0%, jitter:0
Sep  5 11:44:08 192.168.0.231 mpe_sys: <140>  [   INFO] Port:4, Start Date:2017-09-05 11:44:08, Answer Date:, Call Direction:IP->Gsm, Source:asterisk, SourceIp:192.168.0.150, Destination :03111965692870, Hangside:Gateway, Reason:NOT ALLOW WAITING, Duration:0(s), Rtp Send:0, Rtp recv:0, Rtp loss Rate:0%, jitter:0
